### WebCrawling
- 웹 페이지의 종류
    - 정적 페이지 : 페이지의 데이터가 변경 될 때 URL이 변경. HTML
    - 동적 페이지 : 페이지의 데이터가 변경 될 때 URL이 변경 되지 않음. JSON 포멧
- requests package
    - 브라우져의 URL을 입력하면 서버에서 데이터를 다운받아 화면에 출력 : URL > DATA
    - request 패키지 : URL > DATA

### NAver Stock Data
 - Kospi 지수
 - Kosdaq 지수
 - USD : 원달러 환율

In [2]:
import requests
import pandas as pd

In [ ]:
# 1. 웹서비스를 분석 : 크롬 개발자 도구 :URL
# https://m.stock.naver.com/domestic/capitalization/KOSPI

In [24]:
url = 'https://m.stock.naver.com/api/stocks/marketValue/KOSPI?page=10&pageSize=20&page=1'

In [25]:
# 2. request > response : JSON(str)
response = requests.get(url)
response

In [26]:
response.text[:200]

'{"stockListSortType":"MARKET_VALUE","stockListCategoryType":"KOSPI","stocks":[{"stockEndType":"etf","itemCode":"305720","reutersCode":"305720","stockName":"KODEX 2차전지산업","sosok":"0","closePrice":"19,3'

In [ ]:
# 3. JSON(str) > List, dict > DataFrame

In [28]:
data = response.json()
type(data)

dict

In [23]:
df = pd.DataFrame(data)
df

,stockListSortType,stockListCategoryType,stocks,totalCount,page,pageSize
0,MARKET_VALUE,KOSPI,"{'stockEndType': 'etf', 'itemCode': '305720', ...",1840,10,20
1,MARKET_VALUE,KOSPI,"{'stockEndType': 'stock', 'itemCode': '009240'...",1840,10,20
2,MARKET_VALUE,KOSPI,"{'stockEndType': 'etf', 'itemCode': '102780', ...",1840,10,20
3,MARKET_VALUE,KOSPI,"{'stockEndType': 'stock', 'itemCode': '042700'...",1840,10,20
4,MARKET_VALUE,KOSPI,"{'stockEndType': 'etf', 'itemCode': '305540', ...",1840,10,20
5,MARKET_VALUE,KOSPI,"{'stockEndType': 'stock', 'itemCode': '001120'...",1840,10,20
6,MARKET_VALUE,KOSPI,"{'stockEndType': 'stock', 'itemCode': '139130'...",1840,10,20
7,MARKET_VALUE,KOSPI,"{'stockEndType': 'stock', 'itemCode': '000240'...",1840,10,20
8,MARKET_VALUE,KOSPI,"{'stockEndType': 'stock', 'itemCode': '271940'...",1840,10,20
9,MARKET_VALUE,KOSPI,"{'stockEndType': 'etf', 'itemCode': '153130', ...",1840,10,20
10,MARKET_VALUE,KOSPI,"{'stockEndType': 'stock', 'itemCode': '010780'...",1840,10,20
11,MARKET_VALUE,KOSPI,"{'stockEndType': 'stock', 'itemCode': '017390'...",1840,10,20
12,MARKET_VALUE,KOSPI,"{'stockEndType': 'stock', 'itemCode': '330590'...",1840,10,20
13,MARKET_VALUE,KOSPI,"{'stockEndType': 'etf', 'itemCode': '310970', ...",1840,10,20
14,MARKET_VALUE,KOSPI,"{'stockEndType': 'stock', 'itemCode': '016380'...",1840,10,20
15,MARKET_VALUE,KOSPI,"{'stockEndType': 'stock', 'itemCode': '001230'...",1840,10,20
16,MARKET_VALUE,KOSPI,"{'stockEndType': 'stock', 'itemCode': '000150'...",1840,10,20
17,MARKET_VALUE,KOSPI,"{'stockEndType': 'stock', 'itemCode': '365550'...",1840,10,20
18,MARKET_VALUE,KOSPI,"{'stockEndType': 'stock', 'itemCode': '017800'...",1840,10,20
19,MARKET_VALUE,KOSPI,"{'stockEndType': 'etf', 'itemCode': '148020', ...",1840,10,20

In [ ]:
#4. 함수 만들기
# params : pagesize, page

In [51]:
def stock_price(pagesize, page, code):
    """This function is crawling stock price from naver webpage
    Params
    ------
    pagesize : int : one page size
    page : int : page number
    code : str : KOSPI or KOSDAQ
    
    Return
    ------
    type : DataFrame : display data, price columns
    """
    url = f'https://m.stock.naver.com/api/index/{code}/price?pageSize={pagesize}&page={page}'
    response = requests.get(url)
    data = response.json()
    return pd.DataFrame(data)[["localTradedAt", "closePrice"]]

In [52]:
# docstring : 함수를 사용하는 방법을 문자열로 작성
# help(), shift + tap 이용
help(stock_price)

Help on function stock_price in module __main__:

stock_price(pagesize, page, code)
    This function is crawling stock price from naver webpage
    Params
    ------
    pagesize : int : one page size
    page : int : page number
    code : str : KOSPI or KOSDAQ

    Return
    ------
    type : DataFrame : display data, price columns

In [38]:
df = stock_price(30,2, "KOSDAQ")
df.tail(2)

   localTradedAt closePrice
28    2022-05-11     866.34
29    2022-05-10     856.14

In [ ]:
#KOSDAQ 데이터 수집 코드 작성

In [33]:
# 1. 웹서비스 분석 : URL
url = "https://m.stock.naver.com/api/index/KOSDAQ/price?pageSize=10&page=2"

In [34]:
response = requests.get(url)
response

In [39]:
data = response.json()
df = pd.DataFrame(data)
df.tail(2)

,localTradedAt,closePrice,compareToPreviousClosePrice,compareToPreviousPrice,fluctuationsRatio,openPrice,highPrice,lowPrice
8,2022-07-08,766.48,8.51,"{'code': '2', 'text': '상승', 'name': 'RISING'}",1.12,764.98,770.92,764.02
9,2022-07-07,757.97,13.34,"{'code': '2', 'text': '상승', 'name': 'RISING'}",1.79,750.98,759.03,750.67

In [41]:
print(type(data))

<class 'list'>

In [54]:
# 연습 하기 --> 나스닥 데이터 불러오기
n_url = "https://api.stock.naver.com/index/.IXIC/price?page=3&pageSize=10"
response = requests.get(n_url)
data = response.json()
df = pd.DataFrame(data)
df.head()[['localTradedAt','closePrice']]

               localTradedAt closePrice
0  2022-07-05T17:15:59-04:00  11,322.24
1  2022-07-01T17:15:59-04:00  11,127.85
2  2022-06-30T17:15:59-04:00  11,028.74
3  2022-06-29T17:15:59-04:00  11,177.89
4  2022-06-28T17:15:59-04:00  11,181.54

In [ ]:
###원달러 환율 데이터

In [71]:
def exchange(paper,page,pagesize):
    """
    Params
    ------
    page
    pagesize
    paper : FX_USDKRW, FX_EURKRW, 
    
    """
    url = f"https://api.stock.naver.com/marketindex/exchange/{paper}/prices?page={page}&pageSize={pagesize}"
    response = requests.get(url)
    data = response.json()
    df = pd.DataFrame(data)
    return df[["localTradedAt","closePrice"]]

In [72]:
exchange("FX_EURKRW",1,60).tail()

   localTradedAt closePrice
55    2022-05-16   1,341.28
56    2022-05-13   1,333.82
57    2022-05-12   1,347.02
58    2022-05-11   1,343.77
59    2022-05-10   1,346.56

In [ ]:
#데이터분석
#상관관계분석 : 두 데이터 집합 사이에 어떤 관계가 있는 확인하는 분석방법
#원달러 환율이 높으면 코스피, 코스닥 지수가 낮다. 음의 상관 관계를 갖는다.

In [ ]:
#피어슨 상관계수 : df.corr()
# 1과 가까울수록 강한 양의 상관관계를 갖는다
#-1과 가까울수록 강한 음의 상관관계를 갖는다.
# 0에 가까울수록 관계가 없다.

In [79]:
kospi = stock_price(30,2, "KOSPI")
kosdaq = stock_price(30,2, "KOSDAQ")
usd = exchange("FX_USDKRW",1,60)
df = kospi.copy()
df["kosdaq"] = kosdaq["closePrice"]
df["usd"] = usd["closePrice"]
df = df.rename(columns={"closePrice" : "kospi"})

In [80]:
df.dtypes

localTradedAt    object
kospi            object
kosdaq           object
usd              object
dtype: object

In [99]:
# 칼럼의 데이터 타입 변경 : str -> float
df["kospi"] = df["kospi"].apply(lambda data: float(data.replace(",","")))
df["kosdaq"] = df["kosdaq"].apply(lambda data: float(data.replace(",","")))
df["usd"] = df["usd"].apply(lambda data: float(data.replace(",","")))

In [100]:
df[['kospi','kosdaq','usd']].dtypes

kospi     float64
kosdaq    float64
usd       float64
dtype: object

In [101]:
df[['kospi','kosdaq','usd']].corr()

           kospi    kosdaq       usd
kospi   1.000000  0.991846  0.080800
kosdaq  0.991846  1.000000  0.117852
usd     0.080800  0.117852  1.000000