In [ ]:
###API
- application programing interface
- api를 사용해서 데이터를 수집하는 것은 데이터를 제공하는 공식적인 방법으로 데이터 수집
- naver api : papago api : 번역 서비스

In [1]:
import pandas as pd
import requests, json

In [ ]:
#1. APP 등록 > app_key(request_token)
# https://developers.naver.com

In [10]:
CLIENT_ID, CLIENT_SECRET = "w_EnPH87xZPX3UrhipPU", "CXIUwr74Oa"

In [13]:
#2. Naver api document 확인 > URL
txt = "파이썬은 재미있습니다."
url = "https://openapi.naver.com/v1/papago/n2mt"
params = {"source": "ko", "target": "en", "text": txt}
headers = {
    "Content-Type": "application/json",
    "X-Naver-Client-Id": CLIENT_ID,
    "X-Naver-Client-Secret": CLIENT_SECRET,
}

In [14]:
#3. request(url, app_key) > response(json) : JSON(str)
# json.dumps() : 인터넷 트래픽에서는 영문, 숫자, 특수문자만 사용가능
# 한글과 같은 문자를 인코딩(영문,숫자,특수문자)
response = requests.post(url, json.dumps(params), headers=headers)
response

In [15]:
#4. JSON(Str) > list, dict > DataFrame
txt_en = response.json()["message"]["result"]["translatedText"]
txt_en

'Python is fun.'

In [16]:
response.json()

{'message': {'result': {'srcLangType': 'ko',
   'tarLangType': 'en',
   'translatedText': 'Python is fun.',
   'engineType': 'N2MT',
   'pivot': None,
   'dict': None,
   'tarDict': None},
  '@type': 'response',
  '@service': 'naverservice.nmt.proxy',
  '@version': '1.0.0'}}

In [17]:
#5. 함수로 작성
def translate(txt):
    CLIENT_ID, CLIENT_SECRET = "w_EnPH87xZPX3UrhipPU", "CXIUwr74Oa"
    url = "https://openapi.naver.com/v1/papago/n2mt"
    params = {"source": "ko", "target": "en", "text": txt}
    headers = {
        "Content-Type": "application/json",
        "X-Naver-Client-Id": CLIENT_ID,
        "X-Naver-Client-Secret": CLIENT_SECRET,
    }
    response = requests.post(url, json.dumps(params), headers=headers)
    return  response.json()["message"]["result"]["translatedText"]

In [18]:
txt = '웹크롤링은 재밌습니다'
txt_en = translate(txt)
txt_en

'Web crawling is fun'

In [23]:
#6. 한글 excel 파일을 영문 ex
covid = pd.read_excel("covid.xlsx")[["category","title"]]
covid.tail(2)

   category                                title
4       104    "코로나 확진자 '0명'인 날은 절대 오지 않는다" 美전문가
5       104  올림픽 다가오는데 도쿄 코로나 확산 빨라져...일주일새 25％↑

In [31]:
covid["title_en"] = covid["title"].apply(translate)

In [32]:
covid

,category,title,title_en
0,101,"SK바이오사이언스, 코로나19 백신 임상 3상 시험계획 제출",SK Bioscience Submits Phase III Clinical Trial...
1,102,고양시 노래연습장 코로나19 누적확진 41명,41 cumulative COVID-19 confirmed patients at G...
2,103,"코로나19 신규 감염, 28일 오후 9시까지 542명","New COVID-19 infections, 542 people by 9 p.m. ..."
3,103,프로야구 수도권 구단서 코로나19 확진자 발생,Covid-19 confirmed cases in professional baseb...
4,104,"""코로나 확진자 '0명'인 날은 절대 오지 않는다"" 美전문가","""The day when there are zero confirmed cases o..."
5,104,올림픽 다가오는데 도쿄 코로나 확산 빨라져...일주일새 25％↑,"As the Olympics are approaching, the spread of..."

In [36]:
# utf-8-sig : exel에서 디코딩 방식
covid.to_excel("covid_en.xlsx", index=False, encoding="utf-8-sig")
covid

,category,title,title_en
0,101,"SK바이오사이언스, 코로나19 백신 임상 3상 시험계획 제출",SK Bioscience Submits Phase III Clinical Trial...
1,102,고양시 노래연습장 코로나19 누적확진 41명,41 cumulative COVID-19 confirmed patients at G...
2,103,"코로나19 신규 감염, 28일 오후 9시까지 542명","New COVID-19 infections, 542 people by 9 p.m. ..."
3,103,프로야구 수도권 구단서 코로나19 확진자 발생,Covid-19 confirmed cases in professional baseb...
4,104,"""코로나 확진자 '0명'인 날은 절대 오지 않는다"" 美전문가","""The day when there are zero confirmed cases o..."
5,104,올림픽 다가오는데 도쿄 코로나 확산 빨라져...일주일새 25％↑,"As the Olympics are approaching, the spread of..."

In [33]:
%ls
%%time

 C 드라이브의 볼륨에는 이름이 없습니다.
 볼륨 일련 번호: 7C6C-FC35

 C:\Users\User\Desktop\김병수\22.08.03-웹 크롤링\code 디렉터리

2022-08-03  오후 04:52    <DIR>          .
2022-08-03  오후 04:52    <DIR>          ..
2022-08-03  오후 03:41    <DIR>          .ipynb_checkpoints
2022-08-03  오후 03:21            39,465 01_requests_json.ipynb
2022-08-03  오후 04:52             8,328 02_requests_api.ipynb
2022-08-03  오후 04:46            10,060 covid.xlsx
               3개 파일              57,853 바이트
               3개 디렉터리  134,531,153,920 바이트 남음

In [47]:
# 함수 : Scope
# 변수를 선언할 때 함수 밖에서 선언하는것과 함수 안에서 선언하는 변수의 메모리 저장공간이 다름.
# 전역(Global)영역 : 함수 밖의 영역
# 지역(Local)영역 : 함수 안의 영역
# global : 지역영역에서 전역영역에 있는 변수를 가져올 때 사용하는 명령어


data = 10

def change():
    global data #전역영역에 있는 data를 지역영역으로 가져옴
    data = 20
    
change()
print(data)

UsageError: Line magic function `%%time` not found.