In [2]:
import pandas as pd
import numpy as np

In [3]:
s = pd.Series([1,3,4, np.nan,6,8])

In [4]:
s

0    1.0
1    3.0
2    4.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [5]:
dates = pd.date_range('20130101',periods=6)

In [6]:
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [7]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list("ABCD"))
df

                   A         B         C         D
2013-01-01  0.472246 -0.555362 -1.636960  0.287524
2013-01-02 -0.412438 -0.900977 -0.947121  1.597479
2013-01-03 -0.531105  0.493044  1.068696 -0.330102
2013-01-04  0.245967 -0.211568 -1.449977  1.992956
2013-01-05  0.477261 -0.249786  0.740129 -0.319022
2013-01-06  1.184756 -0.580789 -1.119511  0.489403

In [10]:
df2 = pd.DataFrame(
    {
        "A" : 1.0,
        "B" : pd.Timestamp("20130102"),
        "C" : pd.Series(1, index=list(range(4)), dtype="float32"),
        "D" : np.array([3] * 4, dtype="int32"),
        "E" : pd.Categorical(["test", "train", "test", "train"]),
        "F" : "foo"
        
    }
)

df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [12]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object